@import "./../../../../styles/variables";

.reply-comment {

  &__numbers {
    margin: 0;
    color: $blue;
    font-weight: 500;
  }

  &__comment-wrapper {
    width: 80%;
    margin-left: 2.5rem;
  }
}